{%extends "base.html" %} {%block title%} Media Inventory Dashboard {%endblock%}
{%block content%}
<div class="grid">
        <a href="/view" >
            <div class="card"  href="/view">
                <h3>Total Items</h3>
                <p>{{total_items}}</p>
            </div>
        </a>
            <div class="card">
                <h3>Out of Stock</h3>
                <p>{{out_of_stock}}</p>
            </div>
            <div class="card">
                <h3>Expired Items</h3>
                <p>{{expired_items}}</p>
            </div>
            <div class="card">
                <h3>Categories</h3>
                <p>{{total_categories}}</p>
            </div>
        </div>
        <a href="/add" class="btn">Add new item to the inventory</a>
{% endblock %}



