{%extends "base.html" %} {%block title%} Medical Inventory Dashboard {%endblock%}
{%block content%}
<div class="grid">
        <a href="/view" >
            <div class="card" >
                <h3>Total Items</h3>
                <p>{{total_items}}</p>
            </div>
        </a>
        <a href="/outofstock">
            <div class="card" href="/outofstock">
                <h3>Out of Stock</h3>
                <p>{{out_of_stock}}</p>
            </div>
        </a>
        <a href="/expireditems">
            <div class="card">
                <h3>Expired Items</h3>
                <p>{{expired_items}}</p>
            </div>
        </a>
            <div class="card">
                <h3>Categories</h3>
                <p>{{total_categories}}</p>
            </div>
        </div>
        <a href="/add" class="btn">Add New Item </a>
{% endblock %}



