{% extends "base.html"%}  {% block title%} Expired Items | Media Inventory Dashboard {% endblock %}
{% block content%}
<div class="inventory-container">
    <h1 class="inventory-title">Expired Items</h1>
    <div class="inventory-list">
        {% for item in items %}
        <div class="item-container">
        <div class="item-row">
            <div class="item-name"><strong>{{item[0]}}</strong></div>
            <div class="item-details">
            <p>Quantity: {{item[1]}}</p>
            <p>Catergory:{{item[2]}}</p>
            <p>Expiry Date: {{item[3]}}</p>
            </div>
        </div>
        </div>
        {% endfor %}

        <a href="/" class="btn" style="position: relative; top: -34px"
        >Back To Inventory</a
        >
    </div>
{% endblock %}